* {
    box-sizing: border-box;
}

html {
    background: lightgray;
}

h1 {
    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}

.App {
    font-size: 20px;
}

.NoteListMain ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    height: 1000px;
}

.App__nav {
    float: left;
    width: 200px;
    height: 1000px;
    margin-top: 65px;
}

li {
    border-radius: 15px;
    padding: 30px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

  
ul li:nth-child(4n+1) {
    background-color: #7DCBBF
}
  
li:nth-child(4n+2) {
    background-color:#9491D1 
}

li:nth-child(4n+3) {
    background-color:#FCAD43 
}

li:nth-child(4n+4) {
    background-color:#EC527F
}

   

ul {
    list-style-type: none;
    padding: 0px 0px;
    margin-top: 0px;
}

h1 {
    margin: 20px;
    text-align: center;
}

.Note-List ul {
    float: left;
    padding-left: 30px;
    width: 70%;
}

button {
    border: 1px black solid;
}

.addFolder, .addNote {
    border: 1px black solid;
    margin-top: 10px;
}

.error {
    font-size: 12px;
}
